body {
    margin:0;
}

#title {
    display:none;
}

#rightmargin {
    display:none;
}

#map_topbar {
    display:none;
}

#map_wrapper {
    margin-top:0;
    margin-bottom:0;
    height:262px;
    width:575px;
    float:none;
}

#linkfooter {
    display:none;
}

#map_canvas {
    height:258px;
    width:571px;
    top:2px;
    border-radius:10px;
}

#bottompad {
    display:none;
}

p.title {
    margin-top:0;
    margin-bottom:0;
}

#link_mobilemap,#link_fullmap {
    display:none;
}
