/* the magic delta here is 55px. subtract this from various widths in page.css, to get these */

body {
    width:470px;
    margin:0;
}

#map_topbar {
    width:463px;
}

#map_wrapper {
    width:471px;
}

#map_canvas {
    width:467px;
}
