/***************
 * basic page layout
 ***************/

body {
    font-family:Arial, sans-serif;
    font-size:9pt;

    width:530px;

    margin:10px 0 1in 10px;
}

.dialog {
    display:none;
}

.subheading {
    color:#0D6B51;
    font-family:Montserrat;
    font-weight:bold;
    font-size:11pt;
}

.fakelink {
    color:#0078A8;
    text-decoration:underline;
    cursor:pointer;
}

#title {
    color:#0D6B51;
    font-family:Montserrat;

    margin-bottom:5px;

    border-bottom:2px solid silver;
}

#image {
    
}

#rightmargin {
    width:300px;
    float:right;
}

#textcontent {
    font-family:Arial, sans-serif;
    font-size:9pt;
    white-space:pre-wrap;
}

#eventlist {
    list-style:none;
    padding-left: 0;
}

#eventlist li {
    border-bottom:1px solid silver;
    padding:5px 0 5px 10px;
    font-size:8pt;
}

#eventlist li:first-child {
    border-top:1px solid silver;
}

#eventlist li a {
    font-size:12pt;
    text-decoration:none;
    color:#666666;
}

#events_seeall {
    color:#0D6B51;
    margin-left:250px;
}

#calendarlink {
    background-color:#0D6B51;
    border-radius:10px;
    display:block;
    padding:10px;
    text-align:center;
}

#calendarlink a {
    font-size:14pt;
    color:white;
    text-decoration:none;
}

#cross_links {
    list-style:none;
    padding-left: 0;
}

#cross_links li {
    border-bottom:1px solid silver;
    padding:5px 0 5px 10px;
    font-size:8pt;
}

#cross_links li:first-child {
    border-top:1px solid silver;
}

#cross_links li a {
    font-size:12pt;
    text-decoration:none;
    color:#666666;
}

#linkfooter {
    text-align:center;
    clear:both;
}

/***************
 * map stuff
 ***************/

#map_wrapper {
    width:531px;
    height:562px;

    background-color:silver;
    border:1px solid silver;

    border-radius:10px;

    float:left;
    margin-top:0.25in;
    margin-bottom:0.10in;
}

#map_canvas {
    width:527px;
    height:526px;

    top:0;
    left:2px;

    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

#map_topbar {
    position:relative;
    top:0; left:0;
    width:523px;
    height:30px;
    z-index:100;
    padding:3px 0 0 5px;

    color:white;
    font-family:Montserrat;
    font-weight:bold;
    font-size:11pt;
    background-color:#0D6B51;

    line-height:30px;

    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border:1px solid silver;
}

#social {
    float: right;

    white-space: nowrap;

    line-height: 0;
    margin: 3px 10px 0 0;
}

#social img {
    cursor:pointer;

    height: 20px;
    width: 20px;
}

#directions_button {
    float: right;

    margin: 3px 10px 0 0;

    cursor:pointer;

    /* same size as the Social images (20x20) but victim of an optical illusion, so we increase by 1px */
    height: 21px;
    width: 21px;
}

.directions_step_title {
    font-weight:bold;
    display:block;

    font-size:9pt;
}

.directions_step_details {
    font-style:italic;
    margin-left:1.5em;
}

.directions_total {
    margin-top:1em;
}

.leaflet-control-zoom {
}

.leaflet-popup-content {
    font-size:8pt;

    white-space:normal;
/*
    min-height:350px;
*/
}

.leaflet-popup-content .title {
    font-size:10pt;
    font-family:Montserrat;
    font-weight:bold;

    clear:both;
}

.leaflet-popup-content .picture {
    float:right;
    margin:5px 5px 10px 10px;
    border:2px solid silver;
    width:300px; height:225px;
}


/***************
 * Leaflet Zoom panel, allow buttons to be disabled
 ***************/

.leaflet-control-zoom a.disabled {
    display:none;
}

.leaflet-control-zoom a.only {
    margin:0;
}



/***************
 * Search by Name
 ***************/

#searchbyname {
    width:400px;
    height:30px;
    font-size:20px;

    background-color:#0D6B51;
    color:white;
    border:2px solid silver;
}


/***************
 * assorted page elements
 ***************/

#textbox_embed {
    width:440px;
    height:120px;
}

#textbox_url {
    width:440px;
    height:120px;
}


