# Mac OS X
.DS_Store

# Sublime Text
sftp-config.json

# Sass
.sass-cache
*.css.map

# Packaging
node_modules

# Grunt local config
grunt-local-config.json

# Temp
/static/tmp/

/application/logs/

# Hint maps
static/images/hint_maps/

# SentinelOne honeypot
.aaa.html
.aaa.ini
.aaa.log
.aaa.pdf
