# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Sublime Text
sftp-config.json

# Sass
.sass-cache
*.css.map

# Packaging
node_modules

# Grunt local config
grunt-local-config.json

# Temp
/static/tmp/

# Hint maps
static/images/hint_maps/

# SentinelOne honeypot
.aaa.html
.aaa.ini
.aaa.log
.aaa.pdf

# Debug logs
/application/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
