.above_map {
    z-index:500;
}

.popup_title {
    font-size:10pt; font-weight:bold;
    margin-bottom:0.25em;
}

.popup_line {
    clear:both;
    margin:0;
}

.alert {
    background-color:#CC9966;
    color:black;
    font-weight:bold;
    text-align:center;
}

td,th {
    vertical-align:top;
}

div.wkt {
    display:none;
}

div.lat_driving {
    display:none;
}

div.lng_driving {
    display:none;
}

#info h2 {
    margin-top:0;
}

#info input[type="button"] {
    margin-top:10px;
}

/* the legend swatches in the Layers panel */

.legend {
    display:none;
    margin-left:30px;
}


/* Leaflet Zoom panel, allow buttons to be disabled */

.leaflet-control-zoom a.disabled {
    display:none;
}

.leaflet-control-zoom a.only {
    margin:0;
}

/* for the Gallery popup */

#gallery {
    text-align:center;
}