// SASS variables for use by other stylesheets.

// Typography
$mainfont: "myriad-pro", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mainfont_condensed: "myriad-pro-condensed", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$green_dark: #1D5C1F;
$green_light: #6AB03E;

$red_dark: #831729;
$red_light: #DE5049;

$orange_dark: #BB402F;
$orange_light: #FF7C3B;

$grey_darkest: #232222;
$grey_dark: #565555;
$grey_medium: #8D8C8C;
$grey_light: #B2B2B2;
$grey_lightest: #DCDCDC;