@import "_variables.scss";
@import '../../lib/leaflet-1.0.3/leaflet.css';

.leaflet-popup-content {
    h3 {
        font-size: 1.3em;
        font-weight: bold;
    }
    p {
        font-size: 1.1em !important;
        margin: 1em 0;
    }
}

.info-popup {
	&.warning {
		.leaflet-popup-content-wrapper {
			border: 2px solid $orange_light;
			background-color: lighten($orange_light, 35%);
		}
	}
	&.error {
		.leaflet-popup-content-wrapper {
			border: 2px solid $red_light;
			background-color: lighten($red_light, 40%);
		}
	}
	.leaflet-popup-content {
		font-size: 1.3em;
	}
	.leaflet-popup-tip-container {
		display: none;
	}
	a.leaflet-popup-close-button {
		color: lighten(#000, 20%);
		&:hover {
			color: black;
		}
	}
}