@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@use '../../lib/sidebar-v2/css/leaflet-sidebar.css';
@use '../../lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.css';
// @use '../../../node_modules/mapillary-js/dist/mapillary.min.css';

@use "variables";

@use "cm-jqm-theme";
@use "tooltips";
@use "fonts";
@use "map";
@use "sidebar";
@use "mapillary-viewer";

html,
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

// Typography
.ui-header {
    font-family: variables.$mainfont;
}
.cm-icon {
    display: inline-block;
}

img {
    max-width: 100%;
}

// Override some jquery-ui min-height to avoid the map initially displaying with height: 300px.
.ui-page {
    height: 100%;
}

// -----------------------------------------------------------------------------------------------------------
// Map elements
// -----------------------------------------------------------------------------------------------------------
#map_canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
    color: rgba(0, 0, 0, 0.6);
}

// -----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.fakelink {
    color: variables.$green_light;
    text-decoration: underline;
    cursor: pointer;
}


#info-content {
    margin-bottom: 1em;
}


// input widgets inherit the background color, making them nearly invisible!

.ui-content input[type="text"] {
    background:none repeat scroll 0 0 #F9F9F9;
}
.ui-content input[type="password"] {
    background:none repeat scroll 0 0 #F9F9F9;
}
.ui-content textarea {
    background:none repeat scroll 0 0 #F9F9F9;
}
.ui-content select {
    background:none repeat scroll 0 0 #F9F9F9;
}

// speed up transitions a little
.fade.out {
    opacity: 0;
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
}
.fade.in {
    opacity: 1;
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
}

// jQuery Mobile sliders have that text field; hide them
input.ui-slider-input, .ui-field-contain input.ui-slider-input {
    display: none;
}
div.ui-slider {
    height:25px;
}
.ui-field-contain div.ui-slider {
    width: 75%;
}

// inside a textnowrap do not force text inputs to wrap lines
.textnowrap input.ui-input-text,textarea.ui-input-text {
    display:inline;
}
.textnowrap td {
    vertical-align:middle;
}

//
// Misc element styles
//
ul.nobull {
    list-style-type: none;
    padding: 0;
}
.small-light {
    color: variables.$grey_medium;
    font-size: 90%;
}
.description {
    padding: 0 20px;
}

// Toggle for sorting alphabetically or by distance, hidden by default but added as searches happen
.sortpicker {
    display: none;
    text-align: center;
    margin: 10px 0;
}


// -----------------------------------------------------------------------------------------------------------
// From common.css
// -----------------------------------------------------------------------------------------------------------

// Used in certain AJAX query returns
.popup_title {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 0.25em;
}

// Alerts in loop & trail more-info panes
.park-alert {
    background-color: #CC9966;
    color: black;
    font-weight: bold;
    text-align: center;
}
// WKT data hidden in loop & trail more-info panes
div.wkt {
    display: none;
}

div.lat_driving {
    display: none;
}
div.lng_driving {
    display: none;
}

// Gallery popup
#gallery {
    text-align: center;
}
