.trailview-button {
  width: 29px;
  height: 29px;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-width: 0;
  outline-width: 2.5px;
  outline-color: rgb(0, 0, 0, 0.1);
  outline-style: solid;
  border-radius: 3px;
  padding: 0;
  font-size: 20px;
}

.trailview-button:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

#trailviewIcon {
  position: absolute;
  bottom: 200px;
  right: 10px;
  z-index: 3;
}

#trailviewViewer {
  position: absolute;
  background-color: black;
}

.trailviewer-focus {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trailviewer-small {
  bottom: 30px;
  left: 80px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  outline-style: solid;
  outline-width: 2.5px;
  outline-color: rgb(0, 0, 0, 0.3);
  z-index: 11;
  background-color: black;
  transition: width 0.2s ease-out, height 0.2s ease-out;
}

.trailview-map-small {
  top: auto !important;
  right: auto !important;
  bottom: 30px !important;
  left: 80px !important;
  width: 250px !important;
  height: 175px !important;
  border-radius: 10px !important;
  outline-style: solid !important;
  outline-width: 2.5px !important;
  outline-color: rgb(0, 0, 0, 0.3) !important;
  z-index: 11 !important;
  background-color: rgb(233, 234, 210);
  transition: width 0.2s ease-out, height 0.2s ease-out;
}

.trailview-map-small:hover {
  width: 450px !important;
  height: 350px !important;
}

#trailviewExpandIcon {
  position: absolute;
  width: 29px;
  height: 29px;
  z-index: 10;
  top: 8px;
  right: 8px;
}
