body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown > .dropdown-menu {
  display: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown .caret {
  display: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown:hover > .dropdown-menu {
  display: block;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown:hover > a:after {
  border-left-color: #fff;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown.pull-left {
  float: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu .dropdown.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

body.page-login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
body.page-login h1 {
  margin-bottom: 10px;
}
.form-login,
body.page-login h1 {
  max-width: 330px;
  padding: 5px 15px;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
