VITE_MAPBOX_TOKEN="pk.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
VITE_ROOT_PATH=/admin
VITE_MAPS_API_BASE_URL=https://maps-api.clevelandmetroparks.com
VITE_MAPS_API_BASE_PATH=api/v1

VITE_MAP_DEFAULT_CENTER_LNG=-81.6730
VITE_MAP_DEFAULT_CENTER_LAT=41.3953
VITE_MAP_DEFAULT_ZOOM=9

VITE_MAPBOX_STYLE_URL="mapbox://styles/cleveland-metroparks/cisvvmgwe00112xlk4jnmrehn"

VITE_SKIP_LOGIN=false
