body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;

    background-color: #ECE4CF;
}

a {
    color:#3333CC;
    font-weight:bold;
    text-decoration:none;
    font-size:13px;
}

code {
    font-size:13px;
}

.indent {
    margin-left:0.25in;
}

.bottom {
    border-bottom:1px solid silver;
}

#header {
    text-align:center;
    font-family: Montserrat;
    color:white;

    background-color: #0D6B51;

    padding:5px 10px 5px 10px;
}
#header h1 {
    font-size: 24px;
    display:inline;
}
#header a {
    font-size: 16px;
    float:right;

    color:white;
}
