/* the front page (Map page) doesn't need padding; it interferes with the splash screen */
#page-map > .ui-content { padding: 0; }

/* global font stuff */
.ui-header { font-family: "myriad-pro", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Leaflet Sidebar-v2 */
#sidebar .sidebar-header { background-color: #1D5C1F; }
#sidebar .sidebar-tabs .ui-link, #sidebar .sidebar-tabs .ui-link:visited { color: #232222; }
#sidebar .sidebar-tabs > ul > li.active { background-color: #1D5C1F; }
#sidebar .sidebar-tabs > ul > li.active a { color: white; text-shadow: 0 1px 0 #232222; }

/* Page elements */
#map_canvas { position: absolute; top: 0; left: 0; margin: 0; padding: 0; width: 100%; height: 100%; }

#splashscreen { background-color: #0D6B51; opacity: 0.75; z-index: 1000; width: 100%; height: 100%; text-align: center; vertical-align: middle; }

#splashscreen > div { text-align: center; /* the margin-left and margin-top should be set to 1/2 of the combined height and 1/2 the max width of the two logos */ position: fixed; left: 50%; top: 50%; margin-left: -125px; margin-top: -140px; }

#toolbar { position: absolute; left: 0; bottom: 0; height: 46px; width: 100%; background-color: black; text-align: center; display: none; }

#toolbar table { width: 100%; border-collapse: collapse; }

#toolbar table td { border-right: 1px solid silver; border-left: 1px solid silver; }

#toolbar table td:first-child { border-left: 0 none transparent; }

#toolbar table td:last-child { border-right: 0 none transparent; }

#change_directions_target { float: right; text-align: right; font-size: 8pt; }

#directions_target_title { text-align: center; font-size: 110%; font-weight: bold; }

#directions_getgps { float: right; text-align: right; font-size: 8pt; margin-top: 10px; }

.leaflet-popup .fakelink { font-size: 12pt; }

#getdirections_disabled { text-align: center; font-size: 12pt; }

#info-content { min-height: 3em; }

/* input widgets inherit the background color, making them nearly invisible! */
.ui-content input[type="text"] { background: none repeat scroll 0 0 #F9F9F9; }

.ui-content input[type="password"] { background: none repeat scroll 0 0 #F9F9F9; }

.ui-content textarea { background: none repeat scroll 0 0 #F9F9F9; }

.ui-content select { background: none repeat scroll 0 0 #F9F9F9; }

/* speed up those transitions a little */
.fade.out { opacity: 0; -webkit-animation-duration: 100ms; -moz-animation-duration: 100ms; }

.fade.in { opacity: 1; -webkit-animation-duration: 100ms; -moz-animation-duration: 100ms; }

/* jQuery Mobile sliders have that text field; hide them */
input.ui-slider-input, .ui-field-contain input.ui-slider-input { display: none; }

div.ui-slider { height: 25px; }

.ui-field-contain div.ui-slider { width: 75%; }

/* the scalebar needs to clear the toolbar */
.leaflet-bottom .leaflet-control-scale { margin-bottom: 55px; }

/* Leaflet popups which are large enough to induce scrolling, can't really scroll */
.leaflet-popup-scrolled .leaflet-popup-content { overflow: hidden; }

/* Geolocate button this goes over the map, and the Scale control is hidden (it's added in common, so can't disable it only in mobile) */
#mapbutton_gps { position: absolute; bottom: 5px; right: 10px; cursor: pointer; z-index: 401; }

.leaflet-control-scale { display: none; }

/* inside a a textnowrap do not force text inputs to wrap lines */
.textnowrap input.ui-input-text, textarea.ui-input-text { display: inline; }

.textnowrap td { vertical-align: middle; }

/* The Share panel and Settings panels have elements that need to appear as read-only text inputs but that are really <div>'s, beacause iOS forgot to add a select-and-copy function!
*/
div.fakeinput { text-align: left; background-color: #F9F9F9; line-height: 1.4; padding: 0.4em; border: 1px solid #000; border-radius: 0.2em; height: 1.4em; }

/* toggle for sorting alphabetically or by distance, hidden by default but added as searches happen */
.sortpicker { display: none; text-align: center; }

#page-browse-results .sortpicker { display: block; }

/* Elevation profile wrapper */
/* TRAIL FINDER and FEATURED LOOPS */
#trailfinder_typeicons { text-align: center; margin-bottom: 1em; }

#trailfinder_typeicons img { cursor: pointer; }

#loops_typeicons { text-align: center; }

#loops_typeicons img { cursor: pointer; }

#loops_filter_distancepicker { text-align: center; margin-top: 5px; }

#loops_filter_distancepicker img { cursor: pointer; }

/*-----------------------------------------------------------------------------------------------------------*/
#browse_results li { padding: 18px .8em; }

#info-content, .description { padding: 0 20px; }

/*-----------------------------------------------------------------------------------------------------------*/
/* jQm styles
/*-----------------------------------------------------------------------------------------------------------*/
/* jQuery Mobile style overrides */
/*-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------*/
.sidebar-header { margin-bottom: 20px; }

.sidebar-content ul li { padding-left: 0; }
.sidebar-content ul li .fa { padding-right: 10px; font-size: 24px; width: 24px; vertical-align: middle; text-align: center; }
.sidebar-content .ui-li-icon { max-height: 40px; max-width: 40px; }

/*-----------------------------------------------------------------------------------------------------------*/
/* Sidebar Panes */
/*-----------------------------------------------------------------------------------------------------------*/
#page-browse ul[data-role="listview"] li img { margin-top: -20px; /* hack to make the icons align to the text */ }

#pane-getdirections #directions_button_wrapper .ui-btn-inner { background: none repeat scroll 0 0 #AB8E5A; color: #333333; text-shadow: 0 1px 0 #CCCCCC; }

#pane-share .share_button { line-height: 1.5em; }

#pane-credits .disclaimer { font-size: 90%; }

/*# sourceMappingURL=mobile.css.map */
