$mainfont: "myriad-pro", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mainfont_condensed: "myriad-pro-condensed", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$green_dark: #1D5C1F;
$green_light: #6AB03E;
$red_dark: #831729;
$red_light: #DE5049;
$orange_dark: #BB402F;
$orange_light: #FF7C3B;
$grey_darkest: #232222;
$grey_dark: #565555;
$grey_medium: #8D8C8C;
$grey_light: #B2B2B2;
$grey_lightest: #DCDCDC;


/* Typography */
.ui-header {
    font-family: $mainfont;
}


/* Page elements */

#map_canvas {
    position:absolute; top:0; left:0;
    margin:0; padding:0;
    width:100%; height:100%;
}

.leaflet-popup .fakelink {
    font-size:12pt;
}

.fakelink {
    color: $green_light;
    text-decoration: underline;
    cursor: pointer;
}


#info-content {
    //min-height: 3em;
    margin-bottom: 1em;
}


/* input widgets inherit the background color, making them nearly invisible! */

.ui-content input[type="text"] {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content input[type="password"] {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content textarea {
    background:none repeat scroll 0 0 #F9F9F9;
}

.ui-content select {
    background:none repeat scroll 0 0 #F9F9F9;
}

/* speed up those transitions a little */

.fade.out {
    opacity: 0;
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
}
.fade.in {
    opacity: 1;
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
}



/* jQuery Mobile sliders have that text field; hide them */
input.ui-slider-input, .ui-field-contain input.ui-slider-input {
    display: none;
}
div.ui-slider {
    height:25px;
}
.ui-field-contain div.ui-slider {
    width: 75%;
}



/* Leaflet popups which are large enough to induce scrolling, can't really scroll */
.leaflet-popup-scrolled .leaflet-popup-content {
    overflow:hidden;
}


/*
 * Geolocate button
 * this goes over the map, and the Scale control is hidden
 * (it's added in common, so can't disable it only in mobile)
 */
#mapbutton_gps {
    position: absolute;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 401;
}


/* inside a a textnowrap do not force text inputs to wrap lines */

.textnowrap input.ui-input-text,textarea.ui-input-text {
    display:inline;
}

.textnowrap td {
    vertical-align:middle;
}

/**
 * Misc element styles
 */
ul.nobull {
    list-style-type: none;
    padding: 0;
}

.small-light {
    color: $grey_medium;
    font-size: 90%;
}


/*
 * The Share panel and Settings panels have elements that need to appear as read-only text
 * inputs but that are really <div>'s, beacause iOS forgot to add a select-and-copy function!
*/
div.fakeinput {
    text-align: left;
    background-color: #F9F9F9;
    line-height: 1.4;
    padding: 0.4em;
    border: 1px solid #000;
    border-radius: 0.2em;
    height: 1.4em;
}


/* toggle for sorting alphabetically or by distance, hidden by default but added as searches happen */

.sortpicker {
    display: none;
    text-align: center;
    margin: 10px 0;
}

#pane-browse-results .sortpicker {
    display: block;
}


/* Elevation profile wrapper */
div.elevationprofileimage {
}

div.elevationprofileimage img {
}


/* TRAIL FINDER and FEATURED LOOPS */

#trailfinder_typeicons {
    text-align:center;

    margin-bottom:1em;
}
#trailfinder_typeicons img {
    cursor:pointer;
}

#loops_typeicons {
    text-align:center;
}
#loops_typeicons img {
    cursor:pointer;
}

#loops_filter_distancepicker {
    text-align:center;
    margin-top:5px;
}
#loops_filter_distancepicker img {
    cursor:pointer;
}

/*-----------------------------------------------------------------------------------------------------------*/

.description {
    padding: 0 20px;
}

/*-----------------------------------------------------------------------------------------------------------*/
/* Sidebar
/* Leaflet Sidebar-v2
/*-----------------------------------------------------------------------------------------------------------*/

#sidebar {
    //
    // Sidebar Header
    //
    .sidebar-header {
        background-color: $green_dark;
        margin-bottom: 20px;
    }

    //
    // Sidebar Tabs
    //
    .sidebar-tabs {
        .ui-link,
        .ui-link:visited {
            color: $grey_darkest;
        }
        > ul > li.active {
            background-color: $green_dark;
            a {
                color: white;
                text-shadow: 0 1px 0 $grey_darkest;
            }
        }
    }

    //
    // Sidebar Content
    //
    .sidebar-content {
        ul li {
            padding-left: 0;
            .fa {
                padding-right: 10px;
                font-size: 24px;
                width: 24px;
                vertical-align: middle;
                text-align: center;
            }
        }
        h4 {
            margin: 0;
        }
        .ui-li-icon {
            // Reset jqM
            max-height: initial !important;
            max-width: initial !important;
            top: initial !important;

            height: 20px;
            width: 20px;
        }
        .ui-li-count {
            background-color: $green_dark;
            border: none;
            color: white;
            font-weight: normal;
        }
        .distance_sortable {
            a.ui-btn {
                padding-right: 60px;
                h4.ui-li-heading {
                    margin-top: 0;
                }
                .ui-li-desc {
                    font-weight: normal;
                }
            }
        }
    }
}

/*-----------------------------------------------------------------------------------------------------------*/
/* Sidebar Panes */
/*-----------------------------------------------------------------------------------------------------------*/

//
// Sidebar Pane: Find
//
#pane-browse ul[data-role="listview"] li img {
    margin-top: -20px; /* hack to make the icons align to the text */
}

//
// Sidebar Pane: Nearby
//
#pane-radar {
    #alerts {
    }
}

//
// Sidebar Pane: Get Directions
//
#pane-getdirections {

    #directions_target_title {
        text-align: center;
        font-size: 110%;
        font-weight: bold;
        margin-top: 1.5em;
    }

    #change_directions_target {
        text-align: center;
        font-size: 75%;
        margin-top: .5em;
        margin-bottom: 1.5em;
        a {
            font-weight: normal;
        }
    }

    #directions_getgps {
        float: right;
        text-align: right;
        font-size: 8pt;
        margin-top: 10px;
    }

    #getdirections_disabled {
        text-align: center;
        font-size: 12pt;
    }

    #directions_button_wrapper {
        .ui-btn {
            margin-top: 1.5em;
        }
    }

    .directions_functions {
        margin-top: 1em;
        font-weight: bold;
        font-size: 10pt;
    }
}

//
// Sidebar Pane: Share
//
#pane-share {
    .share_button {
        line-height: 1.5em;
    }
}

//
// Sidebar Pane: Credits
//
#pane-credits {
    .disclaimer {
        font-size: 90%;
    }
}

//
// Sidebar Pane: Info (for a POI, etc)
//
#pane-info {
    .activities-icon-list {
        list-style-type: none;
        margin-top: 0;
        padding: 0;
        li {
            display: inline-block;
            padding-right: .5em;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .info-directions {
        margin-top: 1em;
        .ui-btn {
            padding: 10px;
            .fa {
                font-size: 24px;
                min-width: 32px;
            }
        }
    }
}